@media screen and (max-width: 992px) {
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0px;
        }
    }
    form {
        flex-direction: column;
        background-color: rgba(#000, 0.5)
    }
    input {
        margin: 10px;
    }
}

@media screen and (max-width: 750px) {
    #feedback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0px;
        }
    }
    .shoping {
        grid-template-columns: repeat(2, 1fr);
    }
}