@media screen and (max-width: 900px) {
    section .offer .content-block {
        width: 100%;
    }
    .feedback {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0px;
        }
    }
    form {
        flex-direction: column;
        background-color: rgba(#000, 0.5)
    }
    input {
        margin: 10px;
    }
}

@media screen and (max-width: 750px) {
    .feedback {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            margin: 0px;
        }
    }

    .shoping .shoping__blog {
        width: 40%;
    }

    body .contacts {
        h2 {
            grid-row: 1;
            grid-column: 1 / -1;
        }
        .contact-inf {
            grid-row: 2;
            grid-column: 1 / -1;
        }
        iframe {
            grid-row: 3;
            grid-column: 1 / -1;
        }
    }
}

@media screen and (max-width: 420px) {
    .shoping .shoping__blog {
        width: 90%;
    }
}